header {
    width: 1024px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    background: url("../assets/Screens/losescreen.png");
    background-repeat: no-repeat;
}

nav{
    position: relative;
    text-align: center;
}

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: 0.1s;
    display: inline-block;
}

#back {
    background-image: url("../assets/Screens/mainmenu1.png");
    background-size: 300px auto;
    background-position: center;
    width: 300px;
    height: 100px;
    position: absolute;
    top: -100px;
    left: 375px;
}

    #back:hover {
        background-image: url("../assets/Screens/mainmenu2.png");
        background-size: 300px auto;
		background-position: center;
		width: 300px;
		height: 100px;
		position: absolute;
		top: -100px;
		left: 375px;
    }
