body {
    margin: 0px;
}


header {
    width: 1024px;
    height: 800px;
    margin: auto;
    display: block;
    background: url("../assets/Menus/Fundos/Menu.png");
    background-repeat: no-repeat;
}

nav{
    position: relative;
    text-align: center;
}

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: 0.1s;
    display: inline-block;
}

#modhist {
    background-image: url("../assets/Menus/Botoes/stor1.png");
    background-size: 100%;
    background-size: 300px auto;
    background-position: center;
    width: 300px;
    height: 50px;
    position: relative;
    top: -560px;
    left: 600px;
}

    #modhist:hover {
        background-image: url("../assets/Menus/Botoes/stor2.png");
        background-size: 100%;
        background-size: 300px auto;
        background-position: center;
        width: 300px;
        height: 50px;
        position: relative;
        top: -560px;
        left: 600px;
    }

#rank {
    background-image: url("../assets/Menus/Botoes/leaderboard1.png");
    background-size: 100%;
    background-size: 300px auto;
    background-position: center;
    width: 300px;
    height: 50px;
    position: relative;
    top: -460px;
    left: 300px;
}

    #rank:hover {
        background-image: url("../assets/Menus/Botoes/leaderboard2.png");
        background-size: 100%;
        background-size: 300px auto;
        background-position: center;
        width: 300px;
        height: 50px;
        position: relative;
        top: -460px;
        left: 300px;
    }

#tutorial {
    background-image: url("../assets/Menus/Botoes/tutorial1.png");
    background-size: 100%;
    background-size: 300px auto;
    background-position: center;
    width: 300px;
    height: 50px;
    position: relative;
    top: -360px;
    left: -10px;
}

    #tutorial:hover {
        background-image: url("../assets/Menus/Botoes/tutorial2.png");
        background-size: 100%;
        background-size: 300px auto;
        background-position: center;
        width: 300px;
        height: 50px;
        position: relative;
        top: -360px;
        left: -10px;
    }

#creditos {
    background-image: url("../assets/Menus/Botoes/credits1.png");
    background-size: 100%;
    background-size: 300px auto;
    background-position: center;
    width: 300px;
    height: 50px;
    position: relative;
    top: -300px;
    left: 340px;
}

    #creditos:hover {
        background-image: url("../assets/Menus/Botoes/credits2.png");
        background-size: 100%;
        background-size: 300px auto;
        background-position: center;
        width: 300px;
        height: 50px;
        position: relative;
        top: -300px;
        left: 340px;
    }

#options {
    background-image: url("../assets/Menus/Botoes/settings1.png");
    background-size: cover;
    background-position: center;
    width: 45px;
    height: 45px;
    position: relative;
    top: -140px;
    left: 250px;
}

    #options:hover {
        background-image: url("../assets/Menus/Botoes/settings2.png");
        background-size: cover;
        background-position: center;
        width: 45px;
        height: 45px;
        position: relative;
        top: -140px;
        left: 250px;
    }

/*
#exit {
    background-image: url("../assets/Menus/Botoes/exit1.png");
    background-size: cover;
    background-position: center;
    width: 45px;
    height: 45px;
    position: relative;
    top: -140px;
    left: 270px;
}

    #exit:hover {
        background-image: url("../assets/Menus/Botoes/exit2.png");
        background-size: cover;
        background-position: center;
        width: 45px;
        height: 45px;
        position: relative;
        top: -140px;
        left: 270px;
    }
*/
