header {
    width: 1024px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    background: url("../assets/Menus/Fundos/submenu.png");
    background-repeat: no-repeat;
}

p {
    background-image: url("../assets/Menus/Botoes/insert.png");
    background-size: 100%;
    background-size: 700px auto;
    background-position: center;
    width: 700px;
    height: 50px;
    position: absolute;
    top: 290px;
    left: 170px;
}

input[type = text] {
    width: 500px;
    height: 60px;
    border: 5px solid;
    border-radius: 5px;
    margin: 8px 0;
    outline: none;
    padding: 0px;
    box-sizing: border-box;
    border-color: #000000;
    background-color: #ffffff;
    position: absolute;
    top: 400px;
    left: 270px;
}

nav {
    position: relative;
    text-align: center;
}

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: 0.1s;
    display: inline-block;
}

#startButton {
    background-image: url("../assets/Menus/Botoes/start1.png");
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 45px;
    position: relative;
    top: -300px;
    left: 50px;
}

    #startButton:hover {
        background-image: url("../assets/Menus/Botoes/start2.png");
        background-size: cover;
        background-position: center;
        width: 300px;
        height: 45px;
        position: relative;
        top: -300px;
        left: 50px;
    }

#backButton {
    background-image: url("../assets/Menus/Botoes/back1.png");
    background-size: cover;
    background-position: center;
    width: 45px;
    height: 45px;
    position: relative;
    top: -80px;
    left: 250px;
}

    #backButton:hover {
        background-image: url("../assets/Menus/Botoes/back2.png");
        background-size: cover;
        background-position: center;
        width: 45px;
        height: 45px;
        position: relative;
        top: -80px;
        left: 250px;
    }

/*
#exitButton {
    background-image: url("../assets/Menus/Botoes/exit1.png");
    background-size: cover;
    background-position: center;
    width: 45px;
    height: 45px;
    position: relative;
    top: -80px;
    left: 270px;
}

    #exitButton:hover {
        background-image: url("../assets/Menus/Botoes/exit2.png");
        background-size: cover;
        background-position: center;
        width: 45px;
        height: 45px;
        position: relative;
        top: -80px;
        left: 270px;
    }
*/

